nav{
    ul{
        li{
            a{
                color: rgb(9, 9, 50);
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0 1rem;
                &:hover{
                    color: #ccc;
                }
            }
        }
    }
}